.login-btn {
    background-color: red;
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0px;
    box-shadow: none !important;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #890000;
	color: #ffffff;
	text-decoration: none;
}

.login-btn:focus {
    background-color: #890000;
	color: #ffffff;
	text-decoration: none;
}

.register-link {
    display: block;
    text-align: center;
}